@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Open+Sans&family=Roboto:wght@300;500;700&display=swap');

 * {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
 }
/*

generic

*/
.clickable:hover{
    color:white;
    background:pink;
}
.row{
    width:100%;
    height:100%;
    max-width:1200px;
    margin:0 auto;
}
a:hover{
    text-decoration:underline;
}
.container{
   margin:60px 0 20px 0;
   }
.background__img{    
    background-image: url('https://www.regmovies.com/static/dam/jcr:4e43319d-768a-436c-93fe-487556eeb337/21-movies-in-2021-Title-Image2.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height:60%;
    top:0;
    left:0;
    position: absolute;
  z-index:-1;
}


.background__img:after{
    content: '';
    width:100%;
    background:rgba(41,25,71,.83);
    opacity:0.7;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    pointer-events:none;

}

 /*
 
 navbar
 
 */
 .nav{
    width:100%;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 24px;
    
 }
 .blinker__img{
    width:150px;

 }
 .nav__links{
    display: flex;
    list-style:none;
 }
 .nav__link{
    margin:0 16px;
 }
 .nav__anchor{
    color:white;
    text-decoration:none;
    font-weight:bold;
 }
 .contact{
    background:white;
    color:purple;
    padding: 8px 18px;
    border-radius:20px;
    transition:all 300ms ease;
 }
 .contact:hover{
    text-decoration:none;
 }

 /*
 
 browse
 
 */
 #browse{
    width:100vw;
    height: calc(100% - 80px);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
 }
 .part__one{
    height:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
 }
 .section__title{
    font-size:48px;
    font-weight:bold;
    color:white;
 }
 .input{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .section__input{
 width:100%;
 max-width:500px;
 height:70px;
 border-radius:24px;
 border:none;
 outline:none;
 margin:24px 0;
 position:relative;
 padding:0 16px;
 }
 
 .input__btn{
    position:absolute;
    width:40px;
    color:purple;
    background:transparent;
    border:none;
    margin-left:400px;
    transition: all 200ms ease;
 }
.input__btn:hover{
    color:pink;
}

 /*
 
 landing
 
 */
#landing{
    width:100%;
    height:100%;
    position:relative;
    background:white;
   }
   .search{
      display: flex;
      flex-direction:column;
    justify-content: center;
    align-items: center;
}
.landing__title{
    font-size:36px;
    color:#242424;
    font-weight:bold;
    padding-bottom:24px;
}
.movies{
   display: flex;
   width:100%;
   height:100%;
   flex-wrap:wrap;
   justify-content: center;
   align-items: center;
   z-index:2;
   background:white;
}
.movie{
   width: calc(100% / 4);
   margin:24px;
   display: flex;
   flex-direction:column;
   align-items: flex-start;
   justify-content: center;
}
.movie__poster{
   width:200px;
   color:white;
}
/*

landing overlay

*/
.landing__overlay--loading{
   width:100%;
   height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position:relative;
  bottom:0;
  right:0;
}
.fa-spinner{
   width:100px;
   z-index: 200;
   height:100px;
   color:purple;
  font-size:100px;
  animation:spin 500ms  infinite linear;
 
}

@keyframes spin {
   0% {
      transform: rotate(0)
   }
   100% {
      transform: rotate(360deg)
   }
}
/* 

matches 

*/
.matches{
   width:100%;
   display: flex;
   background:white;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   position:relative;
   
  z-index: 1;
  
}
.match__title{
   font-size:36px;
  

}
.match__figure{
   display: flex;
   justify-content: center;
}
.match__img{
   width:40%;
   background:transparent;
}

.blank{
   width:100%;
   height:100%;
   background:white;
   position:relative;
   z-index:3;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:24px;
   font-weight:bold;
   padding-bottom:260px 0 50px 0;
}
.purple{
   color:purple
}