@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Open+Sans&family=Roboto:wght@300;500;700&display=swap');

 * {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
 }
/*

generic

*/
html{
   scroll-behavior:smooth;
}
body{
/*prevents you from scrolling down when the menu is open*/
 overflow-x:hidden;
}
.clicking{
   cursor: pointer;
}
.clickable:hover{
    color:darkred;
    background:white;
}
.row{
    width:100%;
    height:100%;
    max-width:1200px;
    margin:0 auto;
}
a:hover{
    text-decoration:underline;
}
.container{
   margin:60px 0 20px 0;
   }
.background__img{    
    background-image: url('https://www.regmovies.com/static/dam/jcr:4e43319d-768a-436c-93fe-487556eeb337/21-movies-in-2021-Title-Image2.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height:60%;
    top:0;
    left:0;
    position: absolute;
  z-index:-1;
}


.background__img:after{
    content: '';
    width:100%;
    background:rgba(41,25,71,.83);
    opacity:0.7;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    pointer-events:none;

}

 /*
 
 navbar
 
 */
 .nav{
    width:100%;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 24px;
    
 }
 .blinker__img{
    width:100px;
    margin-top:24px;
    background:transparent;
    border-radius:50%;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
    transition: all 400ms ease;
 }
 .blinker__img:hover{
   transform: scale(1.07);
   box-shadow: 6.3px 12.6px 12.6px hsl(0deg 0% 0% / 0.30);
   filter: blur(0.5px);
 }
 .nav__links{
    display: flex;
    list-style:none;
 }
 .nav__link{
    margin:0 16px;
 }
 .nav__anchor{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:all 300 ease;
 }
 .nav__anchor:hover{
   color:red;
   text-decoration:none;
 }
 .contact{
    background:white;
    color:darkred;
    padding: 8px 18px;
    border-radius:20px;
    transition:all 300ms ease;
 }
 .contact:hover{
    text-decoration:none;
    background:white;
    color:red;
 }
/* 

navbar btn

*/
.menu__btnn{
   color:darkred;
   background:transparent;
   border:none;
   font-size:48px;
   position:relative;
   transition:all 300ms ease;
   margin-right:16px;
 }
 .menu__btnn:hover{
   filter:brightness(95%);
   transform:scale(1.07);
 }
 .btn__menu{
   color:#242424;
   background:transparent;
   position:absolute;
   border:none;
   font-size:36px;
   top:15px;
   right:15px;
   margin-right:24px;
   transition:all 300ms ease;
 }
 .btn__menu:hover{
   filter:brightness(95%);
   transform:scale(1.05);
 }
 
 @media (min-width:768px){
   .menu__btnn{
     display:none;
   }
 }
 @media (max-width:768px){
   .nav__links{
      display:none;
   }
 }
   .menu__backdrop{
     position:absolute;
     background:darkred;
     top:0;
     left:0;
     width:100%;
     height:100%;
     z-index:10;
     border:1px solid #9ca3af;
     border-radius:6px;
     overflow:hidden;
    animation: pop-left-btn 400ms 100ms backwards;
    opacity:0;
     visibility:hidden;
   }
   @keyframes pop-left-btn{
     0% {
     opacity:0;
     transform:translateX(1300px);
   }
   70%{
     opacity:1;
     transform:translateX(-100px);
   }
   100% {
    opacity:1;
    transform:translateX(0);
   }
 }
   .menu--open .menu__backdrop{
     opacity:1;
     visibility:visible;
     transition:all 400ms ease ;
   }
   .menu--open{
     /*prevents you from scrolling down when the menu is open*/
     overflow-y:hidden;
   }
   .backdrop__ul{
     height:100%;
     width:100%;
     display: flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     list-style:none;
   }
   .backdrop__link{
      color:white;
      text-decoration:none;
      transition: all 300ms ease;
   }
   .backdrop__link:hover{
      color:#242424;
      text-decoration:none;
      filter:brightness(95%);
      transform:scale(1.05);
   }
   .backdrop__li{
     padding:36px 0;
     font-size:36px;
   }
   .contact-2{
      background:transparent;
      color:white;
      padding: 8px 18px;
      border-radius:20px;
      transition:all 300ms ease;
   }
   .contact-2:hover{
      text-decoration:none;
      background:#242424;
      color:darkred;
   }
 /*
 
 browse
 
 */
 #browse{
    width:100vw;
    height: calc(100% - 80px);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
 }
 .part__one{
    height:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
 }
 .section__title{
   width:100%;
   text-align:center;
    font-size:48px;
    font-weight:bold;
    color:#cb0606;
   transition: all 300ms ease;
 }
 .section__title:hover{
   color:darkred;
   transform: scale(1.07);
 }
 .input{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 300ms ease;
 }
 .section__input{
 width:100%;
 max-width:500px;
 height:70px;
 border-radius:24px;
 border:none; 
 outline:none;
 margin:24px 0;
 position:relative;
 padding:0 16px;
 transition: all 300ms ease;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


 .input__btn{
    position:absolute;
    width:40px;
    color:darkred;
    background:transparent;
    border:none;
    margin-left:400px;
    transition: all 200ms ease;
 }
 .input:hover{
   transform: scale(1.07);
 }
.input__btn:hover{
    color:red;
    transform: scale(1.07);

}

 /*
 
 landing
 
 */
#landing{
    width:100%;
    height:100%;
    position:relative;
    background:white;
   }
   .search{
      display: flex;
      flex-direction:column;
    justify-content: center;
    align-items: center;
}
.landing__title{
    font-size:36px;
    color:#242424;
    font-weight:bold;
    padding-top:24px;
    padding-bottom:24px;
}
.movies{
   display: flex;
   width:100%;
   height:100%;
   flex-wrap:wrap;
   justify-content: center;
   align-items: center;
   z-index:2;
   background:white;
}
.movie{
   width: calc(100% / 4);
   margin:24px;
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   transition:all 300ms ease;
}
.movie:hover{
   transform: scale(1.07);
}
.movie__poster{
   width:100%;
   max-width:200px;
   max-height:250px;
   color:white;
   border:1px solid gray;
   border-radius:10px;
   box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
   transition: all 300ms ease;
}
.movie__poster:hover{
   overflow:hidden;
   transform: scale(1.07);
   box-shadow: 6.3px 12.6px 12.6px hsl(0deg 0% 0% / 0.30);
}
.movie__title{
   font-size:22px;
   max-height:50px;
   margin:12px 0;
   color:#242424;
   font-weight:bold;
   text-shadow: 3.2px 4.4px 6.4px hsl(0deg 0% 0% / 0.40);
   transition:all 300ms ease;
}
.movie__title:hover{
   transform: scale(1.07);
   color:darkred;
   text-shadow: 6.3px 10.6px 12.6px hsl(0deg 0% 0% / 0.30);
}
.movie__year{
   font-size:18px;
   font-weight:bold;
   color:darkred;
   text-shadow: 3.2px 4.4px 6.4px hsl(0deg 0% 0% / 0.40);
   transition:all 300ms ease;
}
.movie__year:hover{
   transform: scale(1.07);
   color:#242424;
   text-shadow: 6.3px 10.6px 12.6px hsl(0deg 0% 0% / 0.30);
}
/*

landing overlay

*/
.landing__overlay--loading{
   width:100%;
   height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position:relative;
  bottom:0;
  right:0;
  z-index:2;
}
.fa-spinner{
   width:100px;
   z-index: 200;
   height:100px;
   color:darkred;
  font-size:100px;
  animation:spin 500ms  infinite linear;
 
}

@keyframes spin {
   0% {
      transform: rotate(0)
   }
   100% {
      transform: rotate(360deg)
   }
}
/* 

matches 

*/
.matches{
   width:100%;
   display: flex;
   background:white;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   position:relative;
   z-index: 1;
}
.match__title{
   font-size:36px;
  

}
.match__figure{
   display: flex;
   justify-content: center;
}
.match__img{
   width:80%;
   background:transparent;
   border-radius:12px;
   margin-bottom:24px;
}

.blank{
   width:100%;
   height:100%;
   background:white;
   position:relative;
   z-index:3;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:24px;
   font-weight:bold;
   padding-bottom:260px 0 50px 0;
}
.purple{
   color:darkred;
}
/* 

year input 

*/
 /* .wrapper{
   position:relative;
   width: 95vmin;
   background:white;
   padding:50px 40px 20px 40px;
   border:1px solid black;
}
.container1{
   position:relative;
   width:100%;
   height:100px;
   margin-top:30px;
}

 input[type="range"]{
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   width:100%;
   outline:none;
   position:absolute;
   margin:auto;
   top:0;
   bottom:0;
   background:transparent;
   pointer-events:none;
}
.slider-track{
   width:100%;
   height:5px;
   background:gray;
   position:absolute;
   margin: auto;
   top:0;
   bottom:0;
   border-radius:5px;
}
input[type="range"]::-webkit-slider-runnable-track{
   -webkit-appearance:none;
   height:5px;
}
input[type="range"]::-moz-range-track{
   -moz-appearance:none;
   height:5px;
}
input[type="range"]::-ms-track{
   appearance:none;
   height:5px;
}
input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none;
   height:1.7em;
   width:1.7em;
   background:orange;
   cursor:pointer;
   border-radius:10px;
   margin-top:-9px;
   pointer-events:auto;
}
input[type="range"]::-moz-range-thumb{
   -webkit-appearance:none;
   height:1.7em;
   width:1.7em;
   background:red;
   cursor:pointer;
   border-radius:50%;
   pointer-events:auto;
}
input[type="range"]::-ms-thumb{
   appearance:none;
   height:1.7em;
   width:1.7em;
   background:darkred;
   cursor:pointer;
   border-radius:50%;
   pointer-events:auto;
}
input[type="range"]:active::-webkit-slider-thumb{
   border:3px solid darkred;
   background:red;
}
.values{
    width:32%;
    position:relative;
    margin:auto;
    padding:10px 0;
    border-radius:5px;
    text-align:center;
   background:darkred;
   font-weight:bold;
   font-size:24px;
   color:white;
}
.values:before{
   content: "";
   position:absolute;
   height:0;
   width:0;
   border-top:15px solid darkred;
   border-left:15px solid transparent;
   border-right:15px solid transparent;
   margin:auto;
   bottom:-14px;
   left:0;
   right:0;

}  
.suuu{
   display: flex;
   justify-content: center;
   align-items: center;
   height:100%;
   display: -ms-grid;
   display: grid;
   background:darkred;
 place-items:center;
}  */


/* responsiveness */


@media(max-width:1060px){
   .movie__title{
      font-size:20px;
   }
}
@media (max-width:956px){
   
   .section__title{
      font-size:40px;
   }
   .input{
      max-width:70%;
   }
   .movie__title{
      font-size:16px;
   }
   .movie__poster{
      max-height:200px;
   }
}
@media (max-width:660px){
   .blinker__img{
      width:80px;
   }
   .section__title{
      font-size:36px;
   }
   .input{
      max-width:60%;
   }
   .clickSearch{
      width:32px;
   }
   .input__btn{
      margin-left:300px;
   }
   .movie__title{
      font-size:14px;
   }
   .movie__poster{
      max-height:180px;
   }
}
@media (max-width:586px){
   .section__title{
      font-size:36px;
   }
   .input{
      max-width:60%;
   }
   .input__btn{
      margin-left:240px;
   }
   .movie__title{
      font-size:14px;
   }
   .movie__poster{
      max-height:180px;
   }
}
@media (max-width:485px){
   .section__title{
      font-size:28px;
   }
   .input{
      max-width:60%;
   }
   .input__btn{
      margin-left:180px;
   }
   .movie__title{
      font-size:13px;
   
   }
   .movie__poster{
      max-height:180px;
   }
}
@media(max-width:400px){
   .movie__title{
      overflow:hidden;
   }

}
@media (max-width:385px){
   .section__title{
      font-size:24px;
      margin-right:16px ;
   }
   .input{
      max-width:60%;
   }
   .input__btn{
      margin-left:140px;
   }
   .movie__title{
      font-size:14px;
   }
   .movie__poster{
      max-height:180px;
   }
}